.whatsapp:hover {transition: 0.8s;transform: scale(1.3);}
.whatsapp {transition: 0.8s;position: fixed;top: 82%; right:30px; padding: 10px; z-index: 10000000;}

.box-btn-whatsapp img{
  width: 60px;
}
@media only screen and (max-width: 1024px) {
  /* For mobile desktop: */
  
}

@media only screen and (max-width: 768px) {
  /* For mobile tablets: */
  
}

@media only screen and (max-width: 520px) {


}